body {
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    
    /* GLOBAL */
    h1 {
        color: #4CAF50;
        text-align: center;
        text-transform: uppercase;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    li {
        list-style: none;
    }
    p {
        font-size: 24px;
    }
    input {
        width: 100%;
        padding: 15px 32px;
        font-size: 16px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
    }
    button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        &:hover {
            cursor: pointer;
            background-color: rgb(61, 148, 64);
        }
    }

    /* HEADER */
    header {
        width: 100%;
        min-height: 100px;
        padding: 20px;
        box-sizing: border-box;
        border-bottom: 1px sold #647075;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        .buttons-reg-auth {
            float: right;
            :first-child {
                margin-right: 10px;
            }
        }
    }

    /* AddNoteForm, SearchForm */
    .add-note-form, .search-form {
        background-color: #abafb1;
        text-align: center;
        padding: 20px;
        input[type=text] {
            width: 30%;
        }
        button {
            margin-left: 10px;
        }
        ul li {
            display: block;
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 21px;
            margin: 5px 0 0 5px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            &:hover {
                background-color: rgb(209, 20, 20);
            }
        }
        .cross {
            display: inline-block;
            float: right;
            img {
                width: 15px;
                height: 15px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    /* HomePage */
    .home-page {
        padding: 20px;
        text-align: center;
    }

    /* AdminPage */
    .admin-page {
        padding: 20px;
        text-align: center;
        ul li {
            display: block;
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 10px 21px;
            margin: 5px 0 0 5px;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            &:hover {
                background-color: rgb(209, 20, 20);
            }
        }
        .cross {
            display: inline-block;
            float: right;
            img {
                width: 15px;
                height: 15px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }

    /* UserPage */
    .user-page {
        padding: 20px;
        text-align: center;
    }

    /* LogInPage, SignUpPage */
    .login-form, .signup-form {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        input {
            text-align: center;
            background-color: #ECF0F1;
            color: #ABADB5;
        }
        button[type=submit] {
            margin-left: 10px;
        }
    }

    .auth-via-social-networks {
        width: 50%;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        .gooogle-plus-btn {
            background-color: #DD5144;
            &:hover {
                background-color: #C24A3F;
            }
        }
    }
}